@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCard.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<div class="inner-column">
    <h1 style="padding: 30px; text-align: center; "><span>Thông tin giỏ hàng</span></h1>
</div>
<hr />
<header id="site-header">
    <div class="container">
    </div>
</header>
<div class="container">
    @foreach (var item in Model)
    {
        <section id="cart">
            <article class="product">
                <header>
                    <a class="remove">
                        <img src="@item.HinhAnh" style="flex: auto; width: 240px; height: auto " />

                        <h3>@Html.ActionLink("Xóa", "RemoveCartItem", new { id = item.MaMon }, new { @class = "btn1 btn-primary font-weight-bold" })</h3>
                    </a>
                </header>

                <div class="content">

                    <h1>@item.TenMon</h1>

                </div>

                <footer class="content">
                    <input type="number" min="1" name="txtQuantity" value="@item.SoLuong" style="" />
                    <h2 class="full-price">
                        @String.Format("{0:0,0}", item.SoLuong * item.Gia)
                    </h2>

                    <h2 class="price">
                        Đơn giá: @String.Format("{0:0,0}", item.Gia)
                    </h2>
                </footer>
            </article>
        </section>
    }
    </div>
   
<footer id="site-footer">
    <div class="container clearfix">
        <input type="submit" value="Cập nhật" class="btn btn-primary font-weight-bold" />
        <div class="right">
            <h1 class="total">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</h1>
            <a> @Html.ActionLink("ĐẶT HÀNG", "Order", "ShoppingCart") </a>
            <br />
            <a> @Html.ActionLink("XÓA GIỎ HÀNG", "RemoveCart")</a>
        </div>

    </div>
</footer>

