@model PagedList.IPagedList<Sukiya.Models.Mon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<br />
<br />
<br />
<br />
<br />

<div> 
    @Html.Action("GetCategory", "Mons")
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="gallery-single fix">
                <img src="@item.HinhAnh" style="width:280px; height:250px" class="img-fluid" alt="Image">
                <div class="why-text">
                    <h4>@item.TenMon</h4>
                    <p><strong>Thể loại: </strong>@item.LoaiMon.TenLoaiMon</p>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "ShoppingCart", new { id = item.MaMon }, new
                       {
                           @class = "btn btn-default"
                       }) ||
                            @Html.ActionLink("Chi tiết", "Details", "Mons", new { id = item.MaMon }, new
                            {
                            @class = "btn btn-default"
                            })
                        </div>
                    </div>
                    <p><strong>Giá: </strong>@item.Gia đ </p>
                </div>
            </div>
        </div>
    }
</div>
<br />

<div style="padding: 30px; font-size: 40px" @Html.PagedListPager(Model, page => Url.Action("Index", new { page })) </div>