@model PagedList.IPagedList<Sukiya.Models.Mon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<br />
<br />
<br />
<br />
<br />

<div>
    @Html.Action("GetCategory", "Mons")
</div>
<div class="row" style="padding:10px">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="gallery-single fix">
                <img src="@item.HinhAnh" style="width: fit-content; height: fit-content" class="img-fluid" alt="Image">
                <div class="why-text">
                    <h4>@item.TenMon</h4>
                    <p><strong>Loại món: </strong>@item.LoaiMon.TenLoaiMon</p>
                    <div style="color:white; font-size:20px"><strong style="float:right">Giá: @item.Gia đ</strong></div>
                    <br />
                    <br />
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "ShoppingCart", new { id = item.MaMon }, new
                       {
                           @class = "btn btn-default"
                       }) ||
                            @Html.ActionLink("Chi tiết", "Details", "Mons", new { id = item.MaMon }, new
                            {
                            @class = "btn btn-default"
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />

<head>
    <style>
        .pagination {
            font-size: 30px;
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li > a,
                .pagination > li > span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.428571429;
                    text-decoration: none;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                }

                .pagination > li:first-child > a,
                .pagination > li:first-child > span {
                    margin-left: 0;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }

                .pagination > li:last-child > a,
                .pagination > li:last-child > span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .pagination > li > a:hover,
                .pagination > li > span:hover,
                .pagination > li > a:focus,
                .pagination > li > span:focus {
                    background-color: #eeeeee;
                }

            .pagination > .active > a,
            .pagination > .active > span,
            .pagination > .active > a:hover,
            .pagination > .active > span:hover,
            .pagination > .active > a:focus,
            .pagination > .active > span:focus {
                z-index: 2;
                color: #ffffff;
                cursor: default;
                background-color: #428bca;
                border-color: #428bca;
            }

            .pagination > .disabled > span,
            .pagination > .disabled > a,
            .pagination > .disabled > a:hover,
            .pagination > .disabled > a:focus {
                color: #999999;
                cursor: not-allowed;
                background-color: #ffffff;
                border-color: #dddddd;
            }
    </style>
</head>
<div class="pagination" style="padding: 20px">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>